<header>
  <div class="py-2.5 pl-5 pr-1 flex bg-green-900 md:justify-center xl:py-2">
    <span class="text-white text-sm font-medium md:text-lg md:font-semibold">Livraison offerte dès 35€ d'achat*</span>
    <button>
      <svg class="absolute right-0 top-1.5 w-8 h-8 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><clipPath id="a"><path fill="none" d="M0 0h15.999v16.001H0z"/></clipPath></defs><path fill="#154331" d="M0 0h40v40H0z"/><g clip-path="url(#a)" transform="translate(12.001 12)"><path fill="#fff" d="M7.999 8.727L.727 15.999 0 15.271 7.272 8 0 .727l.725-.728 7.274 7.273 7.273-7.273.727.728L8.726 8l7.273 7.271-.727.729z"/></g></svg>
    </button>
  </div>
</header>

<%= render "shared/navbar" %>


<section class="xl:flex xl:items-center xl:flex-row-reverse xl:flex-grow xl:h-almostscreen">
  <div class="relative bg-yellow-700 h-60 md:h-almostscreen xl:w-1/2">

    <!-- small screen -->

    <div class="w-72 md:hidden" style="position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);">
      <%= image_tag "duo_hiver.png", class:"w-full object-cover" %>
    </div>

    <!-- 720 and higher -->

    <div class="hidden md:flex md:w-96 zoom" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
      <%= image_tag "duo_hiver.png", class:"w-full object-cover" %>
    </div>

    <div class="absolute mt-6 py-7 px-8 flex flex-col left-2/3 bg-yellow-800 rounded-full md:py-11 md:px-12 md:left-68/100 md:mt-16 xl:left-72/100 3xl:left-6/10">
      <span class="line-through text-xs text-gray-100 md:text-lg">5.90€</span>
      <span class="text-white font-bold md:text-xl">3.50€</span>
    </div>
    <span class="Nouveau absolute bottom-2 right-2 px-2 py-1 flex bg-yellow-600 md:bottom-6 md:right-4 md:px-4 xl:transform xl:-rotate-90 xl:bottom-6/10 xl:right-87/100 xl:text-xl xl:pb-2 2xl:right-9/10">NOUVEAU</span>
    <div class="absolute bottom-0 left-0 px-5 flex justify-end space-x-2 bg-yellow-600 md:pl-30  xl:-left-24 xl:bg-white xl:pl-5 xl:items-end">
      <svg class="hidden xl:flex w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="20.002" height="8.481" viewBox="0 0 20.002 8.481"><path fill="#646363" d="M2444.383 8029.075l7.911-4.24-1.656 3.762h13.747v1h-13.728l1.637 3.72z" transform="translate(-2444.383 -8024.835)"/></svg>
      <span class="text-yellow-900 text-3xl md:text-5xl ">.</span>
      <span class="text-3xl md:text-5xl">.</span>
      <span class="text-3xl md:text-5xl">.</span>
      <span class="text-3xl md:text-5xl">.</span>
      <span class="text-3xl md:text-5xl">.</span>
      <svg class="hidden xl:flex transform rotate-180 w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="20.002" height="8.481" viewBox="0 0 20.002 8.481"><path fill="#646363" d="M2444.383 8029.075l7.911-4.24-1.656 3.762h13.747v1h-13.728l1.637 3.72z" transform="translate(-2444.383 -8024.835)"/></svg>
    </div>
  </div>

  <div class="px-5 py-6 bg-yellow-600 text-green-900 flex flex-col space-y-3 md:px-30 md:pt-10 md:pb-14 xl:px-20 xl:w-1/2 xl:bg-cover xl:h-full xl:justify-center background">
    <span class="Metapro text-sm font-light tracking-widest md:text-lg">Du 23 au 29 Janvier</span>
    <span class="text-title font-medium md:text-6xl 2xl:text-7xl">L'hiver en douceur</span>
    <span class="text-sm tracking-wide md:text-xl max-w-sm">Duo Crème Mains & Baume lèvres, à l'Huile d'Olive, d'Argan ou Beurre de Karité.</span>

    <div class="md:flex items-center space-x-4 xl:flex-col xl:items-start xl:space-x-0">
      <button class="mt-2 py-2 w-full block bg-green-700 text-white font-black uppercase Metapro tracking-widest text-sm rounded md:w-1/2 md:py-5 hover:bg-green-800 transition duration-300 ease-in-out 3xl:w-1/4">J'en profite !</button>
      <div class="pt-5 flex items-center space-x-4 md:w-1/2 md:pt-0 xl:pt-5">
        <%= image_tag "made_in_france.png", class:"w-13 h-6 xl:w-24 xl:h-10" %>
        <%= image_tag "98.png", class:"w-10 h-8 xl:w-16 xl:h-14" %>
        <%= image_tag "paraben_free.png", class:"w-16 h-4 xl:w-28 xl:h-6" %>
        <%= image_tag "one_voice.png", class:"w-10 h-8 xl:w-16 xl:h-14" %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pt-16 pb-12 px-5 md:pt-14">
    <div class="md:px-20">
      <h1 class="text-green-900 font-semibold tracking-wider uppercase md:text-2xl md:tracking-vast xl:text-center">Simplement nature</h1>
      <p class="Metapro text-brownish-100 opacity-60 md:opacity-100 xl:text-center">Gammes de cosmétiques. soins, douches et savons fabriqués en France et labellisés One Voice.</p>
    </div>


    <div class="hidden md:grid md:grid-cols-5 md:justify-between md:items-center md:place-items-center xl:max-w-6xl xl:m-auto 3xl:max-w-7xl">
      <%= image_tag "product1.png", class:"relative inset-0 z-10 xl:w-60" %>
      <%= image_tag "product2.png", class:"relative inset-0 z-10 xl:w-60" %>
      <%= image_tag "product3.png", class:"relative inset-0 z-10 xl:w-60" %>
      <%= image_tag "product4.png", class:"relative inset-0 z-10 xl:w-60" %>
      <%= image_tag "product5.png", class:"relative inset-0 z-10 xl:w-60" %>
    </div>

    <div class="pt-11 space-y-2 md:grid md:grid-cols-5 md:space-y-0 md:text-center md:place-items-center md:pt-14 md:pb-7 md:-mt-14 md:bg-green-500 xl:pt-20 xl:pb-14 xl:-mt-24 xl:max-w-6xl xl:m-auto 3xl:max-w-7xl">
      <div class="py-2 px-4 flex justify-between items-center bg-green-500 text-green-900 rounded xl:contents">
        <span class="text-xl md:font-semibold">Nos soins corps</span>
        <svg class="md:hidden" xmlns="http://www.w3.org/2000/svg" width="7.305" height="13.193" viewBox="0 0 7.305 13.193"><defs><clipPath id="ao4loh7vca"><path fill="none" d="M0 0H7.304V13.193H0z"/></clipPath></defs><g clip-path="url(#ao4loh7vca)" transform="translate(0)"><path fill="#6d9b8d" d="M2760.022 7692.707l5.89-5.89-5.89-5.89.707-.707 6.6 6.6-6.6 6.6z" transform="translate(-2760.022 -7680.22)"/></g></svg>
      </div>
      <div class="py-2 px-4 flex justify-between items-center bg-green-500 text-green-900 rounded xl:contents">
        <span class="text-xl md:font-semibold">Nos soins visage</span>
        <svg class="md:hidden" xmlns="http://www.w3.org/2000/svg" width="7.305" height="13.193" viewBox="0 0 7.305 13.193"><defs><clipPath id="ao4loh7vca"><path fill="none" d="M0 0H7.304V13.193H0z"/></clipPath></defs><g clip-path="url(#ao4loh7vca)" transform="translate(0)"><path fill="#6d9b8d" d="M2760.022 7692.707l5.89-5.89-5.89-5.89.707-.707 6.6 6.6-6.6 6.6z" transform="translate(-2760.022 -7680.22)"/></g></svg>
      </div>
      <div class="py-2 px-4 flex justify-between items-center bg-green-500 text-green-900 rounded xl:contents">
        <span class="text-xl md:font-semibold">Nos soins  capillaires</span>
        <svg class="md:hidden" xmlns="http://www.w3.org/2000/svg" width="7.305" height="13.193" viewBox="0 0 7.305 13.193"><defs><clipPath id="ao4loh7vca"><path fill="none" d="M0 0H7.304V13.193H0z"/></clipPath></defs><g clip-path="url(#ao4loh7vca)" transform="translate(0)"><path fill="#6d9b8d" d="M2760.022 7692.707l5.89-5.89-5.89-5.89.707-.707 6.6 6.6-6.6 6.6z" transform="translate(-2760.022 -7680.22)"/></g></svg>
      </div>
      <div class="py-2 px-4 flex justify-between items-center bg-green-500 text-green-900 rounded xl:contents">
        <span class="text-xl md:font-semibold">Nos douches hydratantes</span>
        <svg class="md:hidden" xmlns="http://www.w3.org/2000/svg" width="7.305" height="13.193" viewBox="0 0 7.305 13.193"><defs><clipPath id="ao4loh7vca"><path fill="none" d="M0 0H7.304V13.193H0z"/></clipPath></defs><g clip-path="url(#ao4loh7vca)" transform="translate(0)"><path fill="#6d9b8d" d="M2760.022 7692.707l5.89-5.89-5.89-5.89.707-.707 6.6 6.6-6.6 6.6z" transform="translate(-2760.022 -7680.22)"/></g></svg>
      </div>
      <div class="py-2 px-4 flex justify-between items-center bg-green-500 text-green-900 rounded xl:contents">
        <span class="text-xl md:font-semibold">Tous nos savons</span>
        <svg class="md:hidden" xmlns="http://www.w3.org/2000/svg" width="7.305" height="13.193" viewBox="0 0 7.305 13.193"><defs><clipPath id="ao4loh7vca"><path fill="none" d="M0 0H7.304V13.193H0z"/></clipPath></defs><g clip-path="url(#ao4loh7vca)" transform="translate(0)"><path fill="#6d9b8d" d="M2760.022 7692.707l5.89-5.89-5.89-5.89.707-.707 6.6 6.6-6.6 6.6z" transform="translate(-2760.022 -7680.22)"/></g></svg>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="px-5 md:pt-36 xl:pt-40 xl:px-20">
    <div class="md:flex md:justify-between md:items-baseline">

      <h1 class="xl:hidden font-semibold text-green-900 text-2xl md:text-4xl">Les bons plans du moments</h1>

      <div class="hidden xl:flex xl:items-center xl:space-x-6">
        <h1 class="hidden xl:flex font-semibold text-green-900 text-2xl md:text-4xl">Les bons plans du moments</h1>
        <button class="hidden xl:flex space-x-2 items-center hover:underline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-900 md:h-6 md:w-6" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
          <span class="text-green-700 Metapro ">Voir tous les bons plans</span>
        </button>
      </div>

      <div class="hidden md:flex md:items-baseline md:space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20.002" height="8.481" viewBox="0 0 20.002 8.481"><path fill="#646363" d="M2444.383 8029.075l7.911-4.24-1.656 3.762h13.747v1h-13.728l1.637 3.72z" transform="translate(-2444.383 -8024.835)"/></svg>
        <span class="text-yellow-900 text-3xl md:text-5xl ">.</span>
        <span class="text-3xl md:text-5xl ">.</span>
        <span class="text-3xl md:text-5xl ">.</span>
        <span class="text-3xl md:text-5xl ">.</span>
        <span class="text-3xl md:text-5xl ">.</span>
        <svg class="transform rotate-180" xmlns="http://www.w3.org/2000/svg" width="20.002" height="8.481" viewBox="0 0 20.002 8.481"><path fill="#646363" d="M2444.383 8029.075l7.911-4.24-1.656 3.762h13.747v1h-13.728l1.637 3.72z" transform="translate(-2444.383 -8024.835)"/></svg>
      </div>
    </div>
    <button class="pt-1.5 flex space-x-4 items-center xl:hidden hover:underline">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-900 md:h-6 md:w-6" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
      <span class="text-green-700 Metapro">Voir tous les bons plans</span>
    </button>
    <div class="pt-6 overflow-x-auto scrollbars-hidden md:pt-10 xl:pt-12">
      <div class="inline-flex space-x-4 md:space-x-20 xl:space-x-14 2xl:space-x-40">
        <!--         one item-->
        <%= render "shared/item" %>
        <!--         one item-->
        <%= render "shared/item" %>
        <!--         one item-->
        <%= render "shared/item" %>
        <!--         one item-->
        <%= render "shared/item" %>
        <!--         one item-->
        <%= render "shared/item" %>
    </div>
  </div>
</section>

<section>
  <div class="pt-14 pb-40 xl:flex xl:items-center xl:flex-row-reverse md:pt-40">
    <div class="relative md:px-5 xl:w-2/3 xl:px-0">
      <%= image_tag "banner.png", class:"w-full object-cover max-h-3/4" %>

      <div class="absolute bottom-0 left-0 pl-4 pr-4 flex justify-end space-x-3 bg-white md:hidden xl:flex xl:items-end">
        <svg class="hidden xl:flex w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="20.002" height="8.481" viewBox="0 0 20.002 8.481"><path fill="#646363" d="M2444.383 8029.075l7.911-4.24-1.656 3.762h13.747v1h-13.728l1.637 3.72z" transform="translate(-2444.383 -8024.835)"/></svg>
        <span class="text-yellow-900 text-3xl xl:text-5xl">.</span>
        <span class="text-3xl xl:text-5xl">.</span>
        <span class="text-3xl xl:text-5xl">.</span>
        <span class="text-3xl xl:text-5xl">.</span>
        <span class="text-3xl xl:text-5xl">.</span>
        <svg class="hidden xl:flex w-8 h-8 transform rotate-180" xmlns="http://www.w3.org/2000/svg" width="20.002" height="8.481" viewBox="0 0 20.002 8.481"><path fill="#646363" d="M2444.383 8029.075l7.911-4.24-1.656 3.762h13.747v1h-13.728l1.637 3.72z" transform="translate(-2444.383 -8024.835)"/></svg>
      </div>

      <div class="hidden md:contents xl:hidden">
        <span class="md:absolute md:bottom-0 md:left-0 px-5 pt-5 Metapro text-green-900 text-lg font-light tracking-widest bg-white uppercase md:text-brownish-900">Nouvelle gamme capillaire</span>
      </div>
    </div>

    <div class="pt-6 pb-14 px-5 xl:w-1/3 xl:flex xl:flex-col xl:justify-center xl:px-20">

      <span class="Metapro text-green-900 text-sm font-light tracking-widest md:hidden xl:flex xl:text-brownish-900 xl:text-xl xl:whitespace-nowrap">NOUVELLE GAMME capillaire</span>
      <h1 class="pt-1 text-green-900 font-bold text-2xl md:hidden">Huile d'Argan & Grenade</h1>

      <div class="hidden md:flex md:justify-between md:items-start ">
        <h1 class="pt-1 text-green-900 font-bold text-2xl whitespace-nowrap md:text-5xl xl:pt-3">Huile d'Argan & <br> Grenade</h1>
        <div class="xl:hidden">
          <span class="text-yellow-900 text-3xl">.</span>
          <span class="text-3xl">.</span>
          <span class="text-3xl">.</span>
          <span class="text-3xl">.</span>
          <span class="text-3xl">.</span>
        </div>
      </div>
      <p class="Dinot pt-2 text-green-900 text-sm md:pt-6 md:text-lg md:text-brownish-900">Fabriquée en France, sans silicone ni sulfate, découvrez la gamme capillaire à l'huile d'Argan, réputée pour ses vertus protectrices, et aux extraits de grenade.</p>
      <div class="md:flex md:justify-between md:items-center xl:flex-col xl:items-start">
        <div class="pt-3 md:pt-7">
          <button class="Metapro text-sm uppercase font-bold text-white bg-green-700 px-14 whitespace-nowrap py-2.5 rounded blur-2xl md:py-5 hover:bg-green-800 transition duration-300 ease-in-out">Découvrir la gamme</button>
        </div>
        <div class="pt-6 flex space-x-4 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-900 md:h-6 md:w-6" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
          <span class="text-green-700 Metapro">Voir toutes les nouveautés</span>
        </div>
      </div>
    </div>
  </div>
</section>
